/* Глобальные стили секций */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr; /* 1 fr - занимает оставшееся, miт - контенту */
  align-items: center;
  padding: 88px 50px;
}

.cover {
  position: relative; /* позиционирование внутри */
  padding: 165px 50px 50px;
  background: url("../images/cover.jpg") center/cover no-repeat;
}

.lots {
  padding: 177px 24px 1px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2px;
  padding: 154px 14px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 27px 50px 90px;
}

/* Шапка */
.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
  margin-top: -7px; /* Сдвигаем вниз */
}

.header__link {
  font-size: 18px;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
  list-style: none;
}

.header__logo {
  justify-self: center;
  width: 145px;
  padding: 4px;
}

.header__address {
  justify-self: end;
  max-width: 220px;
  font-size: 18px;
  line-height: 1.35; /* межстрочный интервал */
  text-underline-offset: 4px;
  margin-right: 20px;
  margin-bottom: 4px;
  font-style: normal; /* отмена стилей */
  width: 240px;
}



/* Обложка */
.overlay { /* абсолютное позиционирование */
  position: absolute; /* растягивает элемент на всю площадь родителя */
  inset: 0; /* Затемнение */
  background: rgba(0, 0, 0, 0.6);
  z-index: 1; /* помещает элемент поверх фона, но под контентом */
}

.cover__title {
  position: relative;
  z-index: 2; /* помещает заголовок поверх overlay'а */
  display: flex;
  flex-direction: column; /* по колонкам */
  gap: 6px;
  color: #fff;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.15;
  text-transform: uppercase; /* Верхний регистр */
}

.aligned-text_left {
  display: block; /* делает блоком */
  letter-spacing: 0.3em;
}

.aligned-text_center {
  display: block;
  letter-spacing: 0.3em;
  text-align: center;
  margin-right: -30px;
  margin-top: 14px;
}

.aligned-text_right {
  display: block;
  letter-spacing: 0.3em;
  text-align: right;
  margin-top: 15px;
  justify-content: end;
  margin-right: -30px;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 2; /* помещает заголовок поверх overlay'а */
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 102px;
  margin-top: 105px;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
  margin-right: 6px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer; /* меняет курсор на указатель  */
}

/* Лоты */
.lots__heading {
  margin-bottom: 28px;
  padding-left: 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: nowrap; /* апрещает перенос на новую строку */
  gap: 25px;
  list-style: none;
  margin-bottom: 30px;
  justify-content: space-between; /* по ширине */
  align-items: stretch; /* раятягивает на всю высоту */
}

.lots__card-list-item {
  flex: 1; /* равномерное занимает пространство */
  min-width: 0;
  width: auto;
  min-height: 450px;
}

.card-link {
  display: block; /* блок */
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px 82px;
  color: #fff;
  background: center/cover no-repeat;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  position: relative;
  z-index: 2;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 2;
  font-size: 20px;
  line-height: 1.2;
  margin-top: 36px;
  margin-bottom: -36px;
}

.lots__look-more-link {
  margin-left: 40px;
  font-size: 20px;
  text-underline-offset: 5px;
}

/* Об аукционе */
.about__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 10px;
  margin-right: 5px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: #000;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  margin: 100px 0;
  font-size: 40px;
  text-transform: uppercase;
  align-self: flex-start; /*  выравнивает по левому краю */
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  line-height: 1.2;
  padding: 1px 0px 0px 0px;
}

/* Подвал */
.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-link {
  font-size: 18px;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  justify-self: end;
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
}

.address {
  max-width: 240px;
  font-size: 18px;
  line-height: 1.35;
  text-underline-offset: 4px;
  font-style: normal;
}